body {
    text-align: center; /* 텍스트를 수평으로 가운데 정렬합니다. */
}

#title {
    display: inline-block;
    position: relative;
    left: 35px;
}

#preview {
    position: relative;
    left: 115px;
    top: 30px;
    display: inline-block;
    background: #f3f3f3;
    padding: 6px 9px;
    border-radius: 10px;
}

#preview_block {
    display: inline-block;
    width: 35px;
    height: 35px;
}

#preview_text {
    font-size: 10px;
    padding: 0;
    margin: 0 0 3px;
}

#tetris_table {
    margin: auto; /* 테이블을 수평으로 가운데 정렬합니다. */
    border-collapse: collapse; /* 테이블 셀 간의 간격을 제거합니다. */
}

#tetris_table td, .tetris_td {
    padding: 8px; /* 셀 내부의 여백을 지정합니다. */
    text-align: center; /* 텍스트를 수평으로 가운데 정렬합니다. */
    border: 1px solid #ddd; /* 테이블 셀에 테두리를 추가합니다. */
}

#tetris_table tr {
    border: 1px solid #ddd; /* 테이블 행에 테두리를 추가합니다. */
}

.tetris_td {
    width: 30px;
    height: 30px;
}

#score_section {
    padding: 0;
    margin: 0;
    position: relative;
    top: -10px;
}

#score_text {
    font-size: 15px;
}

#score {
    font-weight: bold;
}